<h1>All Events</h1>


<br>
<br>
  
<br>
<br>
<ul class="small-block-grid-3">
  
      <div id="events">
    
      <li><%= render @events %> </li>
    
    </div>
  
</ul>

<div id="events-pagination"><%= paginate @events %></div>

