<h1>All Events</h1>


<br>
<br>
  
<br>
<br>

<div id="events">
  <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
    <%# binding.pry %>
    <%= render @events %>
  </ul>
</div>

<div id="events-pagination"><%= paginate @events %></div>